<!-- accounts/templates/home.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page d'Accueil</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Bienvenue sur la page d'accueil!</h1>
{% if user.is_authenticated %}
    <p>Bonjour, {{ user.username }}!</p>
    <a href="{% url 'profile' %}">Voir mon profil</a>
    <a href="{% url 'todolist:todo_list' %}">Voir toutes les tâches</a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Déconnexion</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Connexion</a>
    <a href="{% url 'signup' %}">Inscription</a>
{% endif %}
</body>
</html>